<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#343a40">

<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
{{ $style := resources.Get "css/styles.css" | resources.Minify }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">

{{ partial "schema/organization" . }}
{{ if and (eq .Section "events") (ne .File.TranslationBaseName "_index") }}{{ partial "schema/event" . }}{{ end }}

{{- if ne (lower .File.ContentBaseName) .File.ContentBaseName -}}
  {{ errorf "Files must use all lowercase names.\n File: ./content/%s" .File.Path }}
{{- end -}}
