{{ $script := resources.Get "js/grades-api.js" | resources.Minify }}
{{ $parts := split .File.ContentBaseName "-" }}
{{ $subject := index $parts 0 | upper }}
{{ $course := index $parts 1 }}
<h3>Historical grade information</h3>
<dl class="grades-api row mb-2" data-subject="{{ $subject }}" data-course="{{ $course }}"></dl>
<p class="grades-api__attribution">
  <small>
    Grades information from
    <a href="https://ubcgrades.com/statistics-by-course#UBCV-{{ $subject }}-{{ $course }}" target="_blank">UBC Grades Database</a>
  </small>
</p>
<script async defer src="{{ $script.RelPermalink }}"></script>
