<table class="table table-hover">
  <thead>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th>Reviews</th>
    </tr>
  </thead>

  <tbody>
    {{ range . }}
    <tr>
      {{ $parts := split .File.ContentBaseName "-" }}
      {{ $subject := index $parts 0 | upper }}
      {{ $course := index $parts 1 }}
      <td><a href="{{ .RelPermalink }}">{{ replace (upper .File.ContentBaseName) "-" " " }}</a></td>
      <td>{{ .Title }}</td>
      <td>{{ .Params.count }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>