<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href='{{ "css/style.css" | relURL }}' rel="stylesheet">

    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}

    {{ block "body" . }}
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 blog-main">

          {{ block "main" . }}
          {{ end }}

        </div>

        {{ partial "sidebar.html" . }}

      </div>
    </div>
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
