<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ .Title }}",
  {{ $startDate := .Params.start_date | default .Date }}
  {{ $endDate := .Params.end_date | default (add (time $startDate).Unix 36000) }}
  {{ $isoDateTime := "2006-01-02T15:04" }}
  "startDate": "{{ dateFormat $isoDateTime $startDate }}",
  "endDate": "{{ dateFormat $isoDateTime $endDate }}",
  {{ if .Params.virtual_location }}
  "location": {
    "@type": "VirtualLocation",
    "url": "{{ .Params.virtual_location }}"
  },
  {{ else if .Params.location }}
  {{ $addr := .Params.location.address }}
  {{ $def := .Site.Params.default_location_address }}
  "location": {
    "@type": "Place",
    "name": "{{ .Params.location.name }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ $addr.streetAddress }}",
      "addressLocality": "{{ $addr.addressLocality | default $def.addressLocality }}",
      "postalCode": "{{ $addr.postalCode | default $def.postalCode }}",
      "addressRegion": "{{ $addr.addressRegion | default $def.addressRegion }}",
      "addressCountry": "{{ $addr.addressCountry | default $def.addressCountry }}"
    }
  },
  {{ end }}
  "image": {{ apply .Params.images "absURL" "." | jsonify }},
  "description": "{{ .Summary }}"
}
</script>
