{{ define "main" }}

<header>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{ partial "breadcrumb/chain" .Parent }}
      <li class="breadcrumb-item active" aria-current="page">{{ replace (upper .File.ContentBaseName) "-" " " }}</li>
    </ol>
  </nav>

  <h1 class="blog-post-title">
    {{ replace (upper .File.ContentBaseName) "-" " " }}
  </h1>
  <h3 class="blog-post-title">
    {{ .Title | markdownify }}
  </h3>
  {{ partial "post-date" . }}
  {{ partial "post-tags" . }}
  {{ partial "post-categories" . }}
  <hr>
</header>
<article class="blog-post">
  {{ replace .RawContent "<cite>" "<cite class='blockquote-footer'>" | markdownify }}

  {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ partial "related" . }}

  <br>

  {{ partial "course/grades" . }}

  {{ partial "related-form" . }}
</article>

{{ end }}
