<script async src="{{ site.Params.gcseURL }}"></script>
<div class="gcse-search"></div>

<style>
    .gsc-input-box {
        padding-top: 3px;
        padding-bottom: 2px;
        border-radius: 8px 0 0 8px;
    }
    .gsc-search-button-v2 {
        width: auto;
        padding: 11px 10px;
        margin: 0;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .gsc-search-box-tools .gsc-search-box .gsc-input {
        padding: 0;
    }
    .gsc-input-box table {
        height: 100%;
    }
    .gsc-search-button-v2 svg {
        height: auto;
        width: 16px;
    }
</style>
