{{ $style := resources.Get "css/3d-cube.css" | resources.Minify }}
{{ $script := resources.Get "js/3d-cube.js" | resources.Minify }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">
<script async defer src="{{ $script.RelPermalink }}"></script>
<div class="scene">
    <div class="cube">
        {{ $cube := .Site.Data.home_cube }}
        <a class="cubeface cubeimg text-reset" id="cubeface-thecube" href="{{ $cube.top.href }}">
            <img class="cubeface-img" src="{{ $cube.top.img }}" alt="{{ $cube.top.title }}">
            <span class="cubeface-label">{{ $cube.top.title }}</span>
        </a>
        <a class="cubeface cubeimg text-reset" id="cubeface-tutorexam" href="{{ $cube.right.href }}">
            <img class="cubeface-img" src="{{ $cube.right.img }}" alt="{{ $cube.right.title }}">
            <span class="cubeface-label">{{ $cube.right.title }}</span>
        </a>
        <a class="cubeface cubeimg text-reset" id="cubeface-careerfair" href="{{ $cube.left.href }}">
            <img class="cubeface-img" src="{{ $cube.left.img }}" alt="{{ $cube.left.title }}">
            <span class="cubeface-label">{{ $cube.left.title }}</span>
        </a>
        <div class="cubeface" id="cubeface-c">
            <img class="cubeface-img" src="/3d-cube/side-c.svg" alt="">
        </div>
        <div class="cubeface" id="cubeface-s-top">
            <img class="cubeface-img" src="/3d-cube/side-s-top.svg" alt="">
        </div>
        <div class="cubeface" id="cubeface-s-bottom">
            <img class="cubeface-img" src="/3d-cube/side-s-bottom.svg" alt="">
        </div>
    </div>
</div>
