<iframe id="open-web-calendar"
  style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
  src="https://open-web-calendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fubccsss.org%2Fevents%2Findex.ics&amp;title=UBC%20CSSS%20Calendar"
  sandbox="allow-scripts allow-same-origin allow-top-navigation"
  allowTransparency="true" scrolling="no"
  frameborder="0" height="600px" width="100%"></iframe>
