{{ $startYear := now.Format "2006" }}
{{ if lt (int (now.Format "1")) 6 }}
    {{/* if month less than September... */}}
    {{ $startYear = (now.AddDate -1 0 0).Format "2006" }}
{{ end }}
{{ $start := (printf "%s-06-01" $startYear) }}
{{ $startDate := time $start }}
{{ $endDate := ($startDate.AddDate 1 0 0).Format "2006" }}
<h2>{{ i18n "verifiedTutors" (dict "start" $startYear "end" $endDate) }}</h2>

{{/* building list of unique course codes */}}
{{ $scratch := newScratch }}
{{ range .Site.Data.tutor }}
    {{ $scratch.Add "courseCodes" .courses }}
{{ end }}

{{ $scratch.Set "courseCodes" (sort (uniq ($scratch.Get "courseCodes"))) }}

<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by course
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="tutors-show-all" onClick="showAll()" >Show All</a>
            {{ range ($scratch.Get "courseCodes") }}
            <a class="dropdown-item" id="tutors-{{ . }}" onClick="showId({{ . }})">{{ . }}</a>
            {{ end }}
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="sortMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort 
        </button>
        <div class="dropdown-menu" aria-labelledby="sortMenuButton">
            <a class="dropdown-item" onClick="sortAsc()" >Sort Asc.</a>
            <a class="dropdown-item" onClick="sortDesc()">Sort Desc.</a>
        </div>
    </div>
</div><br>

<div id="tutor-list">
{{ range sort .Site.Data.tutor ".name" "asc" }}
    <div class='card w-100 mb-3 {{ range (.courses) }}{{ . }} {{ end }} tutor' id='{{ lower (replace .name " " "-") }}'>
        <div class="card-body">
            <h5 class="card-title">{{ .name }}</h5>
            <p class="card-text mb-2">{{ i18n "courses" . | markdownify }} {{ delimit .courses ", " }}</p>
            {{ if or (.availability) (.rates) (.bio) }}
            <details class="mb-2"><summary>More</summary>
                {{ if .availability }}
                <p class="mt-1 mb-1">{{ i18n "availability" . | markdownify }}</p>
                {{ end }}
                {{ if .rates }}
                <p class="mt-1 mb-1">{{ i18n "rates" . | markdownify }}</p>
                {{ end }}
                {{ if .bio }}
                <p class="card-text mt-1 mb-1">{{ .bio | markdownify }}</p>
                {{ end }}
                <small class="text-muted"><em>{{ i18n "lastUpdated" }}{{ .lastmod }}</em></small>
            </details>
            {{ end }}
            <a href="mailto:{{ .email }}" class="btn btn-primary btn-sm mt-2">{{ i18n "emailTutor" . }}</a>
        </div>
    </div>
{{ end }}
</div>

<script>
const randomizeOrder = () => {
    let tutorElements = [];
    document.querySelectorAll('.tutor').forEach((element) => tutorElements.push(element));
    for (let i = tutorElements.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [tutorElements[i], tutorElements[j]] = [tutorElements[j], tutorElements[i]];
    }
    const tutorList = document.getElementById('tutor-list');
    tutorList.innerHTML = "";
    tutorElements.forEach((element) => tutorList.appendChild(element));
}

const showAll = () => {
    document.querySelectorAll('.tutor').forEach((element) => {element.style.display = "block";});
    document.querySelectorAll('#dropdownMenuButton').forEach((element) => {element.innerText = "Filter by course"});
    randomizeOrder();
}

const showId = (id) => {
    document.querySelectorAll('.tutor').forEach((element) => {element.style.display = "none";});
    document.querySelectorAll(`.${id}`).forEach((element) => {element.style.display = "block";});
    document.querySelectorAll('#dropdownMenuButton').forEach((element) => {element.innerText = id});
    randomizeOrder();
}

const sortTutors = (compareFunc) => {
    let tutorElements = [];
    document.querySelectorAll('.tutor').forEach((element) => tutorElements.push(element));
    tutorElements.sort(compareFunc);
    const tutorList = document.getElementById('tutor-list');
    tutorList.innerHTML = "";
    tutorElements.forEach((element) => tutorList.appendChild(element));
}

const sortAsc = () => {
    sortTutors((a, b) => a.id.localeCompare(b.id));
}

const sortDesc = () => {
    sortTutors((a, b) => b.id.localeCompare(a.id));
}

randomizeOrder();
</script>

<!-- for cosmetic purposes -->
<style>
.dropdown-item {
    cursor: pointer;
}

.btn-group > .dropdown {
    margin: 0.25rem 0.125rem 0.75rem;
}
</style>
 
